*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.fContainer {
  display: flex;
  position: relative;
  width: 100%;
  background-color: #6dcfff;
  text-transform: capitalize;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  font-size: 20px;
  padding: 15px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.Brand {
  display: flex;
  flex-direction: row;
  font-size: 1, 5em;
  padding: 15px;
}

.fristname {
  color: aquamarine;
  font-weight: 700;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation li {
  list-style-type: none;
  padding: 15px;
}

.navigation li a {
  color: bisque;
  font-size: 20px;
  text-decoration: none;
}

.navigation li a:hover {
  color: red;
  transition: all 0.6 ease-in-out;
}
.toggle-sidebar {
  border: none;
  background-color: #3097af;
  color: white;
  font-weight: bold;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  width: 200px;
  height: 110px;
  background-color: #3097af;
  margin-left: 50px;
}

.menu .hamberger-menu {
  background-color: transparent;
  text-decoration: none;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  outline: none;
  border: #3097af;
}

.size {
  width: 70px;
  height: 70px;
}

.sidebar {
  height: 100vh;
  position: fixed;
  width: 250px;
  list-style: none;
  background-color: #3097af;
}
.sidebar li a {
  display: block;
  padding: 15px;
  border-bottom: 2px solid white;
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  transition: background-color 0.5s;
  justify-content: flex-end;
  flex-direction: column;
}
.sidebar li a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.telpon {
  display: flex;
  margin-left: 40px;
  margin-top: 70px;
}

.nomer {
  margin-left: 10px;
}

.container-1 {
  width: 500px;
  vertical-align: middle;
  white-space: nowrap;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 570px;
  margin-top: 40px;
}

.container-1 input#search {
  width: 500px;
  height: 50px;
  background: white;
  border: none;
  font-size: 10pt;
  float: left;
  color: black;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 20px;
}

.container-1 input#search::-webkit-input-placeholder {
  color: black;
}
.container-1 input#search:-moz-placeholder {
  /* Firefox 18- */
  color: black;
}
.container-1 input#search::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
}
.container-1 input#search:-ms-input-placeholder {
  color: black;
}

.container-1 .icon {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: black;
}

.container-1 input#search:hover,
.container-1 input#search:focus,
.container-1 input#search:active {
  outline: none;
  background: #ffffff;
}

.container-1 input#search {
  width: 500px;
  height: 50px;
  background: white;
  border: none;
  font-size: 10pt;
  float: left;
  color: black;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 20px;

  -webkit-transition: background 0.55s ease;
  -moz-transition: background 0.55s ease;
  -ms-transition: background 0.55s ease;
  -o-transition: background 0.55s ease;
  transition: background 0.55s ease;
}

.moh {
  width: 1200px;
  margin-left: 250px;
  height: 270px;
  position: fixed;
}

.content {
  display: flex;
  background-color: #6dcfff;
  background-image: url(foto/bg1.png);
  width: 100%;
  height: 270px;
}

.content .content-isi {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  margin-left: 420px;
  margin-top: 70px;
}

.content .content-isi .meteran {
  display: block;
  border-radius: 20px;
  width: 140px;
  height: 140px;
  margin-right: 80px;
  margin-top: 27px;
  background-color: white;
}

.circle {
  display: block;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #00abff;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.content .content-isi .ph-air {
  display: block;
  background-color: white;
  border-radius: 20px;
  width: 140px;
  height: 140px;
  margin-right: 80px;
  margin-top: 27px;
}
.content .content-isi .pengaduan {
  display: block;
  border-radius: 20px;
  width: 140px;
  height: 140px;
  margin-right: 80px;
  margin-top: 20px;
  background-color: white;
}
.content .content-isi .monitoring {
  display: block;
  background-color: white;
  border-radius: 20px;
  width: 140px;
  height: 140px;
  margin-right: 80px;
  margin-top: 20px;
}

.berita {
  background-color: white;
  width: 100%;
  height: 280px;
  margin-right: 500px;
}

.berita .berita-judul .judul-baru {
  display: block;
  background-color: transparent;
  margin-left: 250px;
  color: black;
  text-transform: capitalize;
}

.isi-berita {
  background-color: transparent;
  width: 600px;
  height: 160px;
  margin-left: 20px;
  margin-top: 20px;
}

.berita-isi {
  display: flex;
  background-color: white;
  width: 900px;
  height: 200px;
  margin-left: 350px;
  margin-top: 30px;
  border-radius: 20px;
  border: 2px solid black;
}

@media (max-width: 450px) {
  html body {
    font-size: 40px;
  }
}
